<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Carrito</title>
</head>
<body>
    <h1>Carrito de Compras</h1>
    
    <div id="productos">
        {{#each cart.products}}
            <div class="producto">
                <h2>{{this.product.title}}</h2>
                <p>Cantidad: {{this.quantity}}</p>
                <p>Precio: ${{this.product.price}}</p>
            </div>
        {{/each}}
    </div>

    <a href="/products?page=1&limit=10">Volver a la lista de productos</a>
</body>
</html>
